@import 'apps/portal/src/app/app.component.scss';

.main-section {
    background-color: $color-2;
}

.text-container {
    background-color: $color-4;
    padding-top: 150px;
}

.text-block {
    margin-bottom: 150px;
}