$color-1: #131122;
$color-2: #351B27;
$color-3: #9D6655;
$color-4: #F9BC89;
$color-5: #E7CDB9;

$color-card-header: $color-5;
$color-card-footer: $color-5;

.main-container {
    background-color: $color-5;
}

.card-header {
    background-color: $color-card-header;
}

.card-footer {
    background-color: $color-card-footer;
}

.error-message {
    font-weight: bold;
    color: $color-2;
    font-size: 12px;
}